<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Kunal Kanti Paul</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Mar 13 2024 with Bootstrap v5.3.3
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../static/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="../">Kunal Kanti Paul</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.linkedin.com/in/kunal-kanti-paul-26b92a98/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://github.com/kunal-paul04" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://kunal-paul-resume.streamlit.app/" class="google"><i class="bx bxl-google"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Kunal Kanti Paul</h1>
      <p>I'm <span class="typed" data-typed-items="Software Developer @ Digital India Corporation"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Passionate software engineer with a proven track record of leveraging diverse programming languages and robust problem solving skills to drive innovative solutions. A dedicated team player experienced in Agile methodologies, adept at fostering collaborative environments to deliver exceptional results. Eager to contribute to dynamic projects that push the boundaries of technology and creativity.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="../static/assets/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Software Developer.</h3>
            <p class="fst-italic">
              +4 years of experience in software development. Strong hands on experience and knowledge in Python and PHP. Good understanding of statistical principles and their respective applications. Excellent team-player and displaying strong sense of initiative on tasks
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>4 July 1994</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 96781 39456</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Guwahati, Assam, India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span id="ageSpan"></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Master</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>kunalkantipaul@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Certifications</h2>
          <p>&nbsp;</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="https://www.udemy.com/certificate/UC-80330dcb-bdf9-4f0c-b25a-cc630879448b/">APIs with Postman for Absolute Beginners</a></h4>
            <p class="description">Completed from Udemy. <br>Credential ID : UC-80330dcbbdf9-4f0c-b25a-cc630879448b</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="https://www.udemy.com/certificate/UC-45f05920-7beb-4f4e-99e2-cb7093bac249/">JavaScript 2019: JavaScript ES6 Certification Course</a></h4>
            <p class="description">Completed from Udemy. <br>Credential ID : UC-45f05920-7beb-4f4e-99e2-cb7093bac249</p>
          </div>
        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>&nbsp;</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML/CSS <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">PHP <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MySQL <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MongoDB <i class="val">50%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Passionate software engineer with a proven track record of leveraging diverse programming languages and robust problem solving skills to drive innovative solutions. A dedicated team player experienced in Agile methodologies, adept at fostering collaborative environments to deliver exceptional results. Eager to contribute to dynamic projects that push the boundaries of technology and creativity.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Computer Application (MCA)</h4>
              <h5>2018</h5>
              <p><em>Assam Science and Technology University, Guwahati, Assam</em></p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Computer Application (BCA)</h4>
              <h5>2015</h5>
              <p><em>Gauhati University, Guwahati, Assam</em></p>
            </div>
            <div class="resume-item">
              <h4>Intermediate (CBSE Board)</h4>
              <h5>2012</h5>
              <p><em>Kendriya Vidyalaya Narangi, Guwahati, Assam</em></p>
            </div>
            <div class="resume-item">
              <h4>High School (CBSE Board)</h4>
              <h5>2010</h5>
              <p><em>Kendriya Vidyalaya Narangi, Guwahati, Assam</em></p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Assistant Manager (Software Development)</h4>
              <h5>2022 - Present</h5>
              <p><em>Digital India Corporation</em></p>
              <ul>
                <li>Working on DigiLocker, National Academic Depository (NAD), MY Bharat under National E-Governance Division.</li>
                <li>Developed and implemented a highly efficient and scalable software solution,reducing manual data entry time by 50% and improving overall productivity.</li>
                <li>Collaborated with a cross-functional team to design and execute a complex client-server application, resulting in a seamless user experience and increased customer satisfaction. Identified and resolved critical software bugs, ensuring optimal performance and reliability of the application, and minimizing downtime for end users.</li>
                <li>Led the integration of a third-party API into the existing software infrastructure, enabling seamless data exchange and expanding functionality, resulting in a 20% increase in user engagement.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Digital Marketing Executive</h4>
              <h5>2020 - 2022</h5>
              <p><em>D.R Brijmohan & Sons PVT. LTD.</em></p>
              <ul>
                <li>Responsible for increasing sale of the company through digital media. Promoting company products through digital platforms: Facebook, Instagram, Indiamart, Amazon, etc.</li>
                <li>Also responsible for maintaining sale analysis reporting and company internal workflow systems (FMS - Flow chart monitoring system of each work process).</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Software Developer</h4>
              <h5>2018 - 2020</h5>
              <p><em>Technowell Services PVT. LTD.</em></p>
              <ul>
                <li>Worked with project management staff to capture requirements for the functional elements of website projects. Also responsible for liaising with clients and ensuring that all work carried out complies with standards and guidelines.</li>
                <li>Building PHP websites using Object Oriented Programming.</li>
                <li>Testing and validating work produced as part of the development process.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>&nbsp;</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All Projects</li>
              <li data-filter=".filter-work">Work Projects</li>
              <li data-filter=".filter-personal">Personal Projects</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-personal">
            <div class="portfolio-wrap">
              <img src="../static/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="" style="width: 370.4px; height: 200px;">
              <div class="portfolio-links">
                <a href="../static/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Personal Digital Resume"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/kunal-paul04/digital-resume-streamlit-python" title="Get on GitHub"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-work">
            <div class="portfolio-wrap">
              <img src="../static/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="" style="width: 370.4px; height: 200px;">
              <div class="portfolio-links">
                <a href="../static/assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="MY Bharat"><i class="bx bx-plus"></i></a>
                <a href="https://mybharat.gov.in/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-work">
            <div class="portfolio-wrap">
              <img src="../static/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="" style="width: 370.4px; height: 200px;">
              <div class="portfolio-links">
                <a href="../static/assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Parinaam Manjusha"><i class="bx bx-plus"></i></a>
                <a href="https://cbse.digitallocker.gov.in/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-work">
            <div class="portfolio-wrap">
              <img src="../static/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="" style="width: 370.4px; height: 200px;">
              <div class="portfolio-links">
                <a href="../static/assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="National Academic Depository (NAD)"><i class="bx bx-plus"></i></a>
                <a href="https://nad.digilocker.gov.in/" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="section-title">
          <h2>Contact</h2>
          <p>&nbsp;</p>
        </div>
        <div class="row" data-aos="fade-in">
          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>
                  H.No. 37/1, Suruchi Bhavan<br>
                  Bye Lane 4, Sree Nagar<br>
                  Guwahati, Assam - 05, India
                </p>
              </div>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>kunalkantipauk@gmail.com</p>
              </div>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+91 96781 39456, +91 700261 3771</p>
              </div>
            </div>
          </div>
          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <div class="info">
              <iframe src="https://www.google.com/maps/embed/v1/place?q=Suruchi+Bhavan,+Bye+Lane+4,+Sree+Nagar,+Guwahati,+Assam,+India&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Kunal Kanti Paul</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        Designed by <a href="https://bootstrapmade.com/" style="color: #18181a;">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/typed.js/typed.umd.js"></script>
  <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script src="../static/assets/js/jquery.min.js"></script>
  <script type='text/javascript'>
    $(document).ready(function(){
        var birthdate = '1994-07-04';
        var age = calculateAge(birthdate);
        $('#ageSpan').text(age);
    });

    function calculateAge(birthdate) {
        var today = new Date();
        var birthDate = new Date(birthdate);
        var age = today.getFullYear() - birthDate.getFullYear();
        var month = today.getMonth() - birthDate.getMonth();
        if (month < 0 || (month === 0 && today.getDate() < birthDate.getDate())) {
            age--;
        }
        return age;
    }
  </script>

</body>

</html>